<h4>Error works</h4>


<ul>
    <li>
        <a routerLink="/auth/login"> ir al login </a>  
    </li>
    <li>
        <a routerLink="/auth/register"> ir al registro </a>  
    </li>
    <li>
        <a routerLink="/heroes/listado"> ir al listado de heroes </a>  
    </li>
    <li>
        <a routerLink="/heroes/agregar"> ir a agregar heroes </a>  
    </li>
    <li>
        <a routerLink="/heroes/editar/2"> ir a editar heroes </a>  
    </li>
    <li>
        <a routerLink="/heroes/buscar"> ir a buscar heroes </a>  
    </li>
    <li>
        <a routerLink="/heroes/2"> ir a heroe </a>  
    </li>
</ul>


